# Archivos de Quartus
db/
incremental_db/
output_files/
*.qws
*.dpf
*.pof
*.sof
*.jdi
*.pin
*.bak

# Simulación
sim/*.vcd
sim/*.vvp

# Cocotb
results.xml
sim_build/

# Netlist generado por Yosys
yosys/synth/
yosys/synthesis.log
